<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Tables / General - NiceAdmin Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="/assets/img/logo_icon.png" alt="">
                <span class="d-none d-lg-block">athens</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->


        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->


            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">


            <li class="nav-item">
                <a href="/cpanel/user" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-person-square"></i>
                    <span>Tài khoản</span>
                </a>
            </li><!-- End Contact Page Nav -->
            <li class="nav-item">
                <a href="/cpanel/product" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-book"></i>
                    <span>Sách</span>
                </a>
            </li><!-- End Contact Page Nav -->
            <li class="nav-item">
                <a href="/cpanel/product/new" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-book"></i>
                    <span>Thêm sách</span>
                </a>
            </li><!-- End Contact Page Nav -->
                        <li class="nav-item">
                <a href="/cpanel/product/author" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-book"></i>
                    <span>Thêm tác giả</span>
                </a>
            </li><!-- End Contact Page Nav -->
                        <li class="nav-item">
                <a href="/cpanel/product/category" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-book"></i>
                    <span>Thêm danh mục</span>
                </a>
            </li><!-- End Contact Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/logout">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Đăng xuất</span>
                </a>
            </li><!-- End Login Page Nav -->


        </ul>

    </aside><!-- End Sidebar-->

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <main id="main" class="main">
        <div class="row">
            <div class="col-lg-11">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh sách user</h5>
                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Avatar</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">SDT</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each users}}
                                <tr style="vertical-align: middle;">
                                    <td><img style="width: 200px;height: 190px;border-radius: 10%;" src={{this.avatar}}
                                            alt="User Avatar"></td>
                                    <td style="font-weight: bold;">{{this.full_name}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.phone}}</td>
                                    <td><button id="btnNee" onclick="confirmDeletes({{ @index }})"
                                            class="buttons">{{this.ban}}</button></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->
                    </div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script>
                    const confirmDeletes = (id) => {
                        swal({
                            title: "Xác nhận!",
                            text: "Bạn chắc chưa?",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                            .then((willDelete) => {
                                if (willDelete) {
                                    onClickBan(id);
                                    swal("thành công", {
                                        icon: "success",
                                    });
                                } else {
                                    swal("Oke!");
                                }
                            });
                    }
                    function onClickBan(id) {
                        const apiUrls = 'https://thonguyen.onrender.com/api/user/banUser';
                        const typeCellBtn = document.querySelectorAll('.buttons');

                        console.log(typeCellBtn[id].textContent.trim());
                        let ban = true;
                        if (typeCellBtn[id].textContent.trim() === 'Mở khóa tài khoản') {
                            ban = false;
                        } else if (typeCellBtn[id].textContent.trim() === 'Khóa tài khoản') {
                            ban = true;
                        }

                        let idNe = "" + id + "";
                        axios.post(apiUrls, { id: idNe, ban })
                            .then(response => {
                                console.log(response.data.message)
                                if (response.data.result) {
                                    // Cập nhật UI hoặc xử lý dữ liệu khi cần
                                    console.log('User đã được cấm');
                                    window.location.reload()
                                } else {
                                    console.log('Không thể cấm user.');
                                }
                            })
                            .catch(error => {
                                console.error('Lỗi khi gọi API:', error);
                            });
                    }
                    const typeCell = document.querySelectorAll('.buttons');
                    typeCell.forEach((cell) => {
                        console.log("action ne: ", cell.textContent.trim())
                        const typeValues = cell.textContent.trim(); // Lấy giá trị của "this.type" và loại bỏ khoảng trắng
                        if (typeValues === 'false') {
                            cell.textContent = 'Khóa tài khoản';
                            cell.style.backgroundColor = 'red';
                        }
                        else if (typeValues === 'true') {
                            cell.textContent = 'Mở khóa tài khoản';
                            cell.style.backgroundColor = 'green';
                        }
                    });
                </script>

            </div>
            <div class="col-lg-2"></div>
        </div>

    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../assets/vendor/echarts/echarts.min.js"></script>
    <script src="../assets/vendor/quill/quill.min.js"></script>
    <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
    <!-- KiVu  JS Files  ahsdkjhakjdahs-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../javascripts/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="../../public/javascripts/"></script>
    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
<script>
    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }
    const deleteProduct = async (id) => {
        const url = `/cpanel/product/${id}/delete`;
        const option = {
            method: 'get',
            headers: { 'Content-Type': 'application/json' }
        }
        try {
            const result = await fetchAPI(url, option);
            console.log('Delete result: ', result);
            if (result.status) {
                window.location.reload();
            }
            else {

            }
        }
        catch (error) {
            console.log("delete error: " + error);
        }
    }
    const confirmDelete = (id) => {
        swal({
            title: "Em có chắc không?",
            text: "Xóa sẽ không phục hồi được đâu ông già, Xác nhận xóa?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    deleteProduct(id);
                    swal("Xóa thành công", {
                        icon: "success",
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }

</script>

</html>