<!DOCTYPE html>
<html lang="en">
<!-- pages-login.html , tables-general.html , form-validation.html -->

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Dashboard - BookApp Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <script>
        window.onload = function () {
            // Kiểm tra xem đã hiển thị cửa sổ thông báo chưa
            if (!localStorage.getItem('alertShown')) {
                // Lấy tham số từ URL
                const urlParams = new URLSearchParams(window.location.search);
                const alertMessage = urlParams.get('alert');

                // Kiểm tra xem có tham số alert hay không và hiển thị cửa sổ thông báo
                if (alertMessage) {
                    alert(alertMessage);

                    // Đánh dấu là đã hiển thị cửa sổ thông báo
                    localStorage.setItem('alertShown', 'true');
                }
            }
        };
    </script>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="assets/img/logo_icon.png" alt="">
                <span class="d-none d-lg-block">athens</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->


        <div class="search-bar">
            <form id="searchForm" class="search-form d-flex align-items-center" method="GET" action="#">
                <input type="text" id="searchInput" name="query" value="{{query}}" placeholder="Tìm kiếm sách..."
                    title="Enter search keyword">
                <button type="submitSearch" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->


                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->


            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">


            <li class="nav-item">
                <a href="/cpanel/user" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-person-square"></i>
                    <span>Tài khoản</span>
                </a>
            </li><!-- End Contact Page Nav -->
            <li class="nav-item">
                <a href="/cpanel/product" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-book"></i>
                    <span>Sách</span>
                </a>
            </li><!-- End Contact Page Nav -->
            <li class="nav-item">
                <a href="/cpanel/product/new" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-book"></i>
                    <span>Thêm sách</span>
                </a>
            </li><!-- End Contact Page Nav -->
                        <li class="nav-item">
                <a href="/cpanel/product/author" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-book"></i>
                    <span>Thêm tác giả</span>
                </a>
            </li><!-- End Contact Page Nav -->
                        <li class="nav-item">
                <a href="/cpanel/product/category" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-book"></i>
                    <span>Thêm danh mục</span>
                </a>
            </li><!-- End Contact Page Nav -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/logout">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Đăng xuất</span>
                </a>
            </li><!-- End Login Page Nav -->


        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <div class="row">
            <div class="col-lg-11">
                <div class="pagetitle">
                            <h1>Tất cả sách</h1>
                        </div><!-- End Page Title -->
                <div class="card">
                    <div class="card-body">
                        
                        <!-- Default Table -->
                        <table class="table">
                            <style>
                                .limited-lines {
                                    max-width: 400px;
                                    width: 400px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    white-space: normal;
                                    max-height: 7em;
                                }

                                table {
                                    border-collapse: collapse;
                                    width: 100%;
                                    height: 100%;
                                }

                                th,
                                td {
                                    border: 1px solid black;
                                    padding: 8px;
                                    text-align: left;
                                }

                                tbody {
                                    height: 300px;
                                    max-height: 350px;
                                }
                            </style>
                            <thead>
                                <tr>
                                    <th scope="col">Hình ảnh</th>
                                    <th style="width: 200px;" scope="col">Tên sách</th>
                                    <th scope="col">Năm xuất bản</th>
                                    <th scope="col">Thể loại</th>
                                    <th scope="col">Tác giả</th>
                                    <th scope="col">Giới thiệu</th>

                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td>
                                        <img style="width:150px; height: 180px;" src="{{this.image}}">
                                    </td>
                                    <td style="font-weight: bold;">{{this.title}}</td>
                                    <td style="color: green;font-weight: bold;">{{this.publicAt}}</td>
                                    <td style="color: green;font-weight: bold;">{{this.categoryId.name}}</td>
                                    <td style="color: green;font-weight: bold;">{{this.authorId.name}}</td>
                                    <td style="text-align: justify;">{{this.description}}</td>

                                    <td>
                                        <a href="/cpanel/product/{{this._id}}/edit"
                                            class="btn btn-primary w-100">Edit</a>
                                        <a onclick="confirmDeletes('{{this._id}},{{ @index }}');" id="btnDelete"
                                            class="btn btn-danger w-100 btnDelete">{{this.disable}}</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>

                            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                            <script>
                                const confirmDeletes = (string) => {
                                    swal({
                                        title: "Xác nhận!",
                                        text: "Bạn chắc chưa?",
                                        icon: "warning",
                                        buttons: true,
                                        dangerMode: true,
                                    })
                                        .then((willDelete) => {
                                            if (willDelete) {
                                                onClickBan(string);
                                                swal("thành công", {
                                                    icon: "success",
                                                });
                                            } else {
                                                swal("Oke!");
                                            }
                                        });
                                }
                                function onClickBan(string) {
                                    const parts = string.split(',');

                                    // Lấy ID và index từ mảng sau khi đã tách
                                    const id = parts[0];
                                    const index = parts[1];
                                    const apiUrls = 'https://thonguyen.onrender.com/api/product/disable/change';
                                    const typeCellBtn = document.querySelectorAll('.btnDelete');
                                    console.log('id ne: ', id)
                                    console.log('index ne: ', index)
                                    let disable = false;
                                    if (typeCellBtn[index].textContent.trim() === 'Mở khóa sách') {
                                        disable = false;
                                    } else if (typeCellBtn[index].textContent.trim() === 'Khóa sách') {
                                        disable = true;
                                    }
                                    console.log('disable ne: ', disable)

                                    axios.post(apiUrls, { id: id, disable: disable })
                                        .then(response => {
                                            console.log(response.data.message)
                                            if (response.data.result) {
                                                // Cập nhật UI hoặc xử lý dữ liệu khi cần
                                                console.log('User đã được cấm');
                                                window.location.reload()
                                            } else {
                                                console.log('Không thể cấm user.');
                                            }
                                        })
                                        .catch(error => {
                                            console.error('Lỗi khi gọi API:', error);
                                        });
                                }
                                const typeCell = document.querySelectorAll('.btnDelete');
                                typeCell.forEach((cell) => {
                                    console.log("action ne: ", cell.textContent.trim())
                                    const typeValues = cell.textContent.trim(); // Lấy giá trị của "this.type" và loại bỏ khoảng trắng
                                    if (typeValues === 'false') {
                                        cell.textContent = 'Khóa sách';
                                        cell.style.backgroundColor = 'red';

                                    }
                                    else if (typeValues === 'true') {
                                        cell.textContent = 'Mở khóa sách';
                                        cell.style.backgroundColor = 'green';

                                    }
                                });

                            </script>
                            <!-- End Default Table Example -->
                        </table>
                    </div>

                </div>

            </div>
            <div class="col-lg-2"></div>
        </div>

    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../assets/vendor/echarts/echarts.min.js"></script>
    <script src="../assets/vendor/quill/quill.min.js"></script>
    <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
    <!-- KiVu  JS Files  ahsdkjhakjdahs-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../javascripts/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="../../public/javascripts/"></script>
    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>